
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Sudoku brains
        </title>
        <link rel="stylesheet" href="/Assets/css/sudoku.css">
    </head>
    <body>

        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>
