@model List<PuzzleMetadata>;

@if (Model != null)
{
    <div class="puzzle-menu">
        <form method="POST" action="/Sample">
            <label for="puzzle">Load an interesting puzzle:</label>

            <select name="puzzle" id="puzzle">
                @foreach (var puzzle in Model)
                {
                    <option value="@puzzle.FileName">@puzzle.Title</option>
                }
            </select>

            <button type="submit">Go</button>
        </form>
    </div>
}
