@model Puzzle;

@if (Model != null)
{
    <div class="sudoku">
        @for (int r = 1; r <= 9; r++)
        {
            var row = Model.GetRow(r);
            <div id="row{@r}" class="row">
                @for (int c = 1; c <= 9; c++)
                {
                    var cell = row.GetCell(c);
                    <div id="cell@(r)@(c)" class="cell row@(r) col@(c)">
                        @if (cell.Filled)
                        {
                            <div class="edit given">
                                <input type="number" name="cell{@r}{@c}" value="@cell.Value" min="1" max="9" />
                            </div>
                        }
                        else
                        {
                            <div class="edit">
                                <input type="number" name="cell@(r)@(c)" min="1" max="9">
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}