@model PageModel;

<h1>@Model.PageTitle</h1>

<div class="centre">
    @await Html.PartialAsync("_PuzzleMenu", Model.MenuModel)

    @await Html.PartialAsync("_Sudoku", Model.InitialState)

    <p>Puzzle data: <span class="data-string">@Model.InitialState.ToString()</span></p>

</div>

<div id="console-window">
    @Model.Log.RenderLog()
</div>

@await Html.PartialAsync("_Sudoku", Model.Puzzle)
